<style>
      
    /* Footer Styling */
   .body-wrapper {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
   }
   
   /* Footer styling */
   .footer {
       margin-top: auto;
       padding: 5px 80px 5px 30px;
       background-color: #dadae0;
       width: 104%;
       margin-left: -6px;
   }
       </style>

<footer class="footer  text-lg-start ">  
    <div class="p3 text-center">  
        <%- description %>
    </div>  
  </footer>