<style>
      
    /* Footer Styling */
   .body-wrapper {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
   }
   
   /* Footer styling */
   .footer {
       position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
       padding: 5px 80px 5px 30px;
       background-color: #dadae0;
       
   }
       </style>

<footer class="footer  text-lg-start ">  
    <div class="p3 text-center">  
        <%- description %>
    </div>  
  </footer>