<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">
 
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
        <link rel="icon" href="\images\DIB-NOW-512.png" type="image/x-icon">


  <title>Erro 404</title>
</head>
<body style="background-color: #f8f9fa; color: #343a40; margin: 0; font-family: Arial, sans-serif;">
  <div id="main-wrapper" style="height: 100vh; display: flex; justify-content: center; align-items: center; text-align: center;">
    <div style="max-width: 600px; width: 100%; padding: 20px;">
      
      <img src="/images/errorimg.svg"alt="Error Image" style="max-width: 70%; margin-bottom: 20px;">
      <h1 style="font-size: 3.5rem; color: #ff6b6b; margin-bottom: 20px;">Oops!!!</h1>
      <h4 style="font-size: 1.5rem; color: #343a40; margin-bottom: 30px;">Sorry, The page you're looking for doesn't exist or has been moved.</h4>

      <a  href="/index"  role="button" style=" display: inline-block; background-color: #007bff;color: white;font-size: 1.25rem;font-weight: bold;padding: 15px 40px;border-radius: 50px;text-decoration: none; transition: background-color 0.3s ease, transform 0.2s ease; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); " 
        onmouseover="this.style.backgroundColor='#0056b3'; this.style.transform='scale(1.05)';"
        onmouseout="this.style.backgroundColor='#007bff'; this.style.transform='scale(1)';" >
        Go Back to Home
      </a>
    </div>
  </div>
</body>
</html>